
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.column {
    float: left;
    width: 33%; /* Ajusta el ancho de las columnas */
    padding: 10px;
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
    text-align: center;
}

.column img {
    max-width: 100%; /* Hace que la imagen sea responsiva */
    height: 300px;
    width: 250px;
    
    

}

.column h2 {
    text-align: center;
}

.clear {
    clear:both; /* Para limpiar los floats */
}